:root {
  --backround-1: #fff;
  --backround-2: #dad8e3;

  --text-color: #fff;
  --color-1: #5affb4;
  --color-2: #ffd151;
  /* --color-3: #51d1ff; */
  /* --color-4: #ff51c8; */
  --error-color: #c23c5b;
  --icon-color: var(--text-color);
  --progress-value-color: var(--color-1);
  font-family: "Varela Round", sans-serif;

  --color-dark: rgba(0, 0, 0, 0.5);

  --card-1-background: rgba(255, 255, 255, 0.25);
  --card-2-background: rgba(255, 255, 255, 0);
  --card-1-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  --card-2-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.15);
  --card-border: 1px solid rgba(255, 255, 255, 0.18);
  --card-filter: blur(4px);
}

body {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  overflow-y: auto;
  overflow-x: hidden;

  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  background-color: #5a5077;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23595f95'/%3E%3Cstop offset='1' stop-color='%23595f95' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23477189'/%3E%3Cstop offset='1' stop-color='%23477189' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234daaaa'/%3E%3Cstop offset='1' stop-color='%234daaaa' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235A5077'/%3E%3Cstop offset='1' stop-color='%235A5077' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236687AF'/%3E%3Cstop offset='1' stop-color='%236687AF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233C9C68'/%3E%3Cstop offset='1' stop-color='%233C9C68' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

body > div {
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: 12rem 1fr;
  gap: 2rem;
}

main {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
  margin: 2rem 0 4rem;
}

a {
  color: inherit;
}

h1 {
  color: var(--backround-1);
}

.card {
  background: var(--card-1-background);
  box-shadow: var(--card-1-shadow);
  backdrop-filter: var(--card-filter);
  -webkit-backdrop-filter: var(--card-filter);
  border: var(--card-border);
  border-radius: 0.5rem;
  padding: 2rem;
  color: var(--text-color);
}

.card .card,
.card input,
.card select,
.card button {
  background: var(--card-2-background);
  backdrop-filter: var(--card-filter);
  -webkit-backdrop-filter: var(--card-filter);
  border: var(--card-border);
  padding: 0.5rem;
  color: var(--text-color);
}

.card .card {
  box-shadow: var(--card-2-shadow);
}

.card h2 {
  font-size: 1rem;
  margin-top: 0;
  text-transform: uppercase;
}

.highlight {
  line-height: 1;
  color: #000;
  background: var(--color-1);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  height: 0.75rem;
  width: auto;
}

progress::-webkit-progress-bar {
  background: var(--color-dark);
  box-shadow: none;
  border: none;
  border-radius: 0.5rem;
}

progress::-webkit-progress-value {
  transition: width 400ms ease-in-out;
  background-color: var(--progress-value-color);
  border-radius: 0.5rem;
}

select {
  /* appearance: none; */
  font-family: inherit;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

select option {
  color: black;
}

input {
  font-family: inherit;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.form-group > label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group > div {
  display: flex;
  gap: 0.5rem;
}

.form-group > div > :first-child {
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form > div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

form.grid > div {
  grid-template-columns: 1fr 1fr;
}

form > button {
  align-self: flex-end;
}

button {
  border: none;
  color: var(--backround-1);
  padding: 0.5rem;
  border-radius: 0.5rem;
  appearance: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

button i {
  display: flex;
  width: 1rem;
  fill: var(--backround-1);
}

button:disabled,
button[disabled] {
  background: var(--color-dark);
  cursor: pointer;
  border: 1px solid transparent;
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0px 4px var(--color-1);
}
