.grid {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "a a a"
    "b b c";
}

.progress {
  width: 100%;
  --progress-value-color: var(--color-1);
}

.error {
  --progress-value-color: var(--error-color);
  color: var(--error-color);
}
