.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a a a"
    "b b c"
    "d d e";
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";
  }
}

.progress {
  margin-top: 1rem;
  height: 1.5rem;
  width: 100%;
  --progress-value-color: var(--color-1);
}

.error {
  --progress-value-color: var(--error-color);
}
