.container {
  display: flex;
  flex-direction: column;
}

.statistics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.statistics > div {
  padding: 0.5rem;
  background: var(--backround-2);
  border-radius: 0.5rem;
}

.statistics > div > div {
  font-weight: 700;
}

.button {
  margin-top: auto;
  align-self: flex-end;
  margin-top: 1rem;
}
